*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  font-size: 21px;
  padding-right: 163px;  
  font-family: 'Questrial', sans-serif;
}
.gallery-section{
  width: 100%;
  padding: 60px;
  padding-top: 1px;
  background: #f1f1f1;
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1{
  font-family: 'Fredericka the Great', cursive;
  text-transform: auto;
  color: #333;
  margin: 40px auto;
  margin-left: 0.01px;
  font-size: 60px;
  font-weight: bold;
}

/*.border{ 
  width: 180px;
  height: 4px;
  background: #333;
  margin: 60px auto;
}*/

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.gallery-section .image:hover img{
  transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
}

.animetion_gall {
  animation-duration: 1.5s;
}
